html, body {
      height: 100%;
      margin: 0;
}

body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}

main {
  flex: 1;
}


.search-section {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.search-bar {
  display: flex;
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  border: 2px solid #2C6E49;
  border-radius: 25px;
  overflow: hidden;
}

.search-bar input {
  border: none;
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  outline: none;
}

.search-bar button {
  background-color: #36454F;
  border: none;
  color: white;
  padding: 0 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #3d8e60;
}


.accordion {
  max-width: 800px;
  margin: 20px auto;
}

.accordion-item {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.accordion-header{
   width: 100%;
  text-align: left;
  background: #2C6E49;
  color: white;
  padding: 10px;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-icon {
  font-weight: bold;
  font-size: 1.2em;
}

.accordion-header:hover {
  background-color: #24563a;
}

.accordion-content {
  display: none;
  padding: 15px;
  background-color: #f4f4f4;
}

.pulse-sign {
  text-align: center;
  font-size: 2.5rem;
  margin: 40px 0 20px;
  animation: pulse 1.5s infinite;
}


@keyframes pulse {
  0% { opacity: 0.7; }
  50% { opacity: 1; }
  100% { opacity: 0.7; }
}
