
:root {
  --primary-color: #075d07;
  --secondary-color:black;
  --border-color: #e7e7e7;
}

body{
    font-family: "Libertinus Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    height: 90px;
    background-color: var(--primary-color);
    color: white;
    border-bottom: 20px solid var(--secondary-color);
}

header div{
    height: 100%;
}

header div h1{
    margin: 0px;
    text-align: center;
    line-height: 90px;
}

main{
    text-align: center;
}

#div-hero-image{
    border-bottom: 5px solid red;
}

main div picture img{
    width: 100%;
    display: block;
}

#section-data{
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 30px;
}

h2{
    margin-bottom: 35px;
}

.data-weather{
    list-style: none;
    padding-inline-start: 0px;
}


.data-weather li{
    display: flex;
    margin-top: 8px;
}

.data-weather-label{
    font-weight: bold;
    display: block;
    width: 50%;
    text-align: right;
    margin-right: 5px;
}

#section-weather img{
    margin-top: -5px;
    height: 50px;
}

footer{
    text-align: center;
    background-color: var(--secondary-color);
    color: #fff;
    margin-top: 15px;
    padding-bottom: 5px;
}

footer p{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5px;
}

